
/*//----colors-----//*/
/*main : #ba6102d1*/

.container{
	max-width: 1400px;
	margin: 0 auto;
	background-color: white;
}

body{
	background-color: #b0b0b052;
	background-image: url('https://images.pexels.com/photos/479453/pexels-photo-479453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
}

.title-h2{
	font-size: 2rem;
	color: #616161;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 66px;
	margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color:#ba6102d1;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

h4{
	-ms-grid-row-align: start;
	    align-self: start;
    letter-spacing: 2px;
    font-size: 14px;
    margin-top: 7px
}



/*=================================================
--------------------HEADER----------------------
=================================================*/



.header ul{
	display: flex;
	justify-content: flex-end;
}

.header li{
	display: inline-flex;
	justify-content: flex-start;
	padding: 15px;
}

.header li a{
	text-decoration: none;
	margin: 30px 0px;
    font-size: 20px;
    color: #050404;
}

.header li a:hover{
    color: #ba6102d1;
}

/*----------Sticky Nav-----------*/

.sticky{
	position: fixed;
    right: 73px;
    left: 73px;
    margin: -14px;
    color: #ba6102d1;
    background-color: #fff;
    box-shadow: 0 2px 0px #ba6102;
    z-index: 9999;
}

/*=================================================
--------------------home SECTION-----------------------
=================================================*/


.home{
	display:flex;
	align-items: center;
	justify-content: center;
	height: 100vh;


}

.home .info{
	padding: 15px;
	position: relative;
}

.square{
	border: 25px solid #ffa94b26;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 0;
    top: 75%;
    left: 16%;
}


.square2{
	border: 19px solid #5f5f5f0f;
    width: 355px;
    height: 379px;
    position: absolute;
    z-index: 1;
    top: -28%;
    left: 67%;
    /*background-repeat: no-repeat;
	background-position: center;
	background-image: url('https://image.shutterstock.com/image-vector/olive-tree-silhouette-icon-isolated-260nw-558212053.jpg')*/
}


.home .info .js--wp-5{
	position: relative;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    color:#616161;
    z-index: 1;
}

.home .info .js--wp-6{
	position: relative;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    color:#616161;
    margin-bottom: 2rem;
    z-index: 1;
}

.home .info span{
	color: #ff8400;
	font-size: 70px;
}

.home .info .last-name{
	margin-left: 10px;
}

.home .info p{
	position: relative;
    font-size: 30px;
    max-width: 600px;
    color: #777;
    text-transform: capitalize;
    margin-bottom: 3rem;
    z-index: 1;
}

.work-btn{
	position: relative;
	color: #16171b;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
	z-index: 1;
	letter-spacing: 2px
}

.work-btn:hover{
	position: relative;
	color: #ba6102d1;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 2px solid #ba6102d1;
	z-index: 1;
	letter-spacing: 2px
}

.resume-btn{
	position: relative;
	color: #16171b;
	margin-left: 20px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
	letter-spacing: 2px
}

.resume-btn:hover{
	color: #ba6102d1;
	border-bottom: 2px solid #ba6102d1;
}


/*=================================================
--------------------ABOUT-----------------------
=================================================*/

.about{
	padding: 0;
}


.color-box{
	background-image: linear-gradient( 107deg, rgb(233, 233, 233) 22%, #c89a68 63%, #ffffff00 50%), url(../images/background/user-image1.jpg);
    background-position: right;
    border-radius: 5px;
    margin: 0 30px;
    padding: 65px;
}

.about-info{
	display: flex;
	justify-content: flex-end;
	text-align: center;
	width: 50%;
}

.about-info h1{
	margin-right: 61px;
    margin-bottom: 82px;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 3px;
    z-index: 1;
}
.contact-btn{
	position: relative;
	color: #16171b;
	font-weight: 600;
	left: 11%;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
	letter-spacing: 2px
}

.github-btn{
	position: relative;
	color: #16171b;
	font-weight: 600;
	left: 13%;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
	letter-spacing: 2px
}

.github-btn:hover, .contact-btn:hover {
	color: #ba6102d1;
	border-bottom: 2px solid #ba6102d1;
}

/*=================================================
--------------------PROJECT SECTION----------------------
=================================================*/

/*-----------GRID---------------*/


img{
	/*width: 333px;*/	
 	width:304px;
    height: 153px;
	transition: all 1s ease-out;
	border-radius: 12px;
	opacity:0.6 !important;
}

img:hover{
	opacity:1 !important;
	-webkit-transform: translate(0, -10px);
	        transform: translate(0, -10px)
}

.box {
	width: 339px;
    padding: 19px;
    height: 419px;
    margin: 32px;
    background-color: #b05b0017;
    border-radius: 19px;
    transition: all .195s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 1px 2rem 4rem rgba(0, 0, 0, 0.15)
}

.box:hover {
	background-color: white;
   	-webkit-transform: scale(0.97);
   	        transform: scale(0.97);
    transition: background-color 500ms linear;
}

.projects-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-text h4{
	-ms-grid-row-align: start;
	    align-self: start;
    letter-spacing: 2px;
    font-size: 17px;
    margin-top: 7px;
}
.project-text a{
	text-decoration: none;
	color: #222020;
}

.project-text a:hover{
	color: #ba6102d1;
}

.project-text p{
	-ms-grid-row-align: start;
	    align-self: start;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 20px;
}

.project-text p span{
	font-weight: bold;
	font-size: 17px;
}

.github-link{
	color: #555;
    text-decoration: none;
}

.project-text .fa-github{
	font-size: 33px;
}

.project-text .fa-github:hover{
	color: #ba6102d1;
}


/*=================================================
--------------------SKILL SECTION----------------------
=================================================*/
.skills{
    padding: 100px;
    margin-top: 55px;
}

.skills ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
}

.skills li{
	display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 1rem;
    flex-basis: 6rem;
    background-color: #ba610254;
    border: 1px solid #ba6102d1;
    border-radius: 1.5rem;
    margin: 0.5rem;
}

/*=================================================
--------------------CONTACT-SECTION----------------------
=================================================*/

.contact {
	padding: 53px;
	margin-top: 40px;
	background-color: white;
	text-align: center;
	font-size: 25px;
}

.contact-list h1{
	font-size: 2em;
    margin-bottom: 30px;
}

.contact-list h3{
	font-size: 1em;
	margin-bottom: 10px;
}

.contact-list h4{
	margin: 20px 0;
}

.contactIcon{
	font-size: 2em;
	margin-left:10px;
	color: #555;
}

.contactIcon:hover{
	color: #ba6102d1;
}


.contact i{
	font-size: 40px;
	color: #777;
}

.contact i:hover{
	font-size: 40px;
	color: #ba6102d1;
}

/*=================================================
--------------------fOOTER----------------------
=================================================*/

footer{
	display: flex;
    justify-content: center;
    background-color: #000;
    padding: 30px;
    color: white;
    font-size: 17px;
}

/*=================================================
--------------------Animations---------------------
=================================================*/

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5,
.js--wp-6 {
	opacity: 0;
}


.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated,
.js--wp-4 .animated,
.js--wp-5 .animated,
.js--wp-6 .animated  {
	opacity: 1;
}

/*Scroll up button*/

.scrollup {
    width: 41px;
    top: 45%;
    height: 49px;
    position: fixed;
    bottom: 50px;
    right: 64px;
    display: none;
    background: url('../images/icons/scrolltop.png') no-repeat;
}	

/*css animations for icons*/
.bounce{
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 3s infinite;
}

.pulse {
	box-shadow: 0 1 0 rgba(104,189,70, 0.7);
	animation: pulse 1s infinite;
}

