
/*//----colors-----//*/
/*main : #ff9c7c*/

.container{
	max-width: 1400px;
	margin: 0 auto;
	background-color: white;
}

body{
	background-color: #b0b0b052;
	background-repeat: no-repeat;
	background-size: cover;
	background-image:linear-gradient(162deg, rgba(255, 255, 255, 0.52) 0%, rgba(255, 71, 0, 0.56) 75%, rgba(233,57,0,1) 100%)
}

.title-h2{
	font-size: 2rem;
	color: #616161;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 66px;
	margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color:#ff9c7c;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

h4{
	-ms-grid-row-align: start;
	align-self: start;
    letter-spacing: 2px;
    font-size: 14px;
    margin-top: 7px
}



/*=================================================
--------------------HEADER----------------------
=================================================*/

.header{
	height: 117px;
}

nav{
    background-color: tomato;
}

.header ul{
	display: flex;
	justify-content: flex-end;
}

.header li{
	display: inline-flex;
	justify-content: flex-start;
	padding: 15px;
}

.header li a{
	text-decoration: none;
	margin: 15px 10px;
    font-size: 17px;
    color: white;
}

.header li a:hover{
    color: #616161;
}

/*----------Sticky Nav-----------*/

.sticky{
	display: flex;
	justify-content: center;
	position: fixed;
    right: 11px;
    left: 0px;
    margin: -13px;
    color: white;
    background-color: tomato;
    box-shadow: 1px 0rem 1rem #413d3a;
    transition: all 0.3s ease;
  	-webkit-transform:translate(0, 0);
  	        transform:translate(0, 0);
    z-index: 9999;
}



/*=================================================
--------------------home SECTION-----------------------
=================================================*/


.home{
	display:flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.home .info{
	padding: 15px;
	position: relative;
	z-index: 1;
}

.square{
	position: absolute;
	z-index: -1;	
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 130%;
    background-repeat: no-repeat;
	background-position: bottom center;
	background-size: contain;
    background-image: url('https://image.freepik.com/free-photo/colorful-powder-explosion-white-background_44314-2005.jpg');

}


.square2{
	border: 18px solid #5f5f5f26;
    width: 355px;
    height: 379px;
    position: absolute;
    z-index: 1;
    top: -28%;
    left: 67%;
}


.home .info .js--wp-5{
	position: relative;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    color:#616161;
    z-index: 1;
}

.home .info .js--wp-6{
	position: relative;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    color:#616161;
    margin-bottom: 2rem;
    z-index: 1;
}

.home .info span{
	color: #ff9c7c;
	font-size: 70px;
}

.home .info .last-name{
	margin-left: 10px;
}

.home .info p{
	position: relative;
    font-size: 30px;
    max-width: 600px;
    color: #777;
    text-transform: capitalize;
    margin-bottom: 3rem;
    z-index: 1;
}

.work-btn{
	align-items: center;
    border: 1px solid #616161;
    border-radius: 4px;
    color: #616161;
    cursor: pointer;
    display: inline-flex;
    font-size: .875rem;
    font-weight: 500;
    justify-content: center;
    line-height: 1.75;
    margin: 0;
    min-width: 64px;
    outline: none;
    padding: 5px 16px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.work-btn:hover{
	background-color: #61616138;	
}

.resume-btn{
    border: 1px solid rgba(253,90,37,.5);
    border-radius: 4px;
    color: #fd5a25;
    cursor: pointer;
    display: inline-flex;
    font-size: .875rem;
    font-weight: 500;
    justify-content: center;
    line-height: 1.75;
    margin: 0 10px;
    min-width: 64px;
    outline: none;
    padding: 5px 16px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.resume-btn:hover{
	background-color: #ff9c7c21;
}


/*=================================================
--------------------ABOUT-----------------------
=================================================*/

.about{
	padding: 0;
}


.color-box{
	background-image: linear-gradient( 107deg, #ff9c7c 22%, rgb(233, 233, 233) 63%, #ffffff00 50%), url(../images/background/user-image1.jpg);
    background-position: right;
    border-radius: 5px;
    margin: 0 30px;
    padding: 65px;
}

.about-info{
	display: flex;
	justify-content: flex-end;
	text-align: center;
	width: 50%;
}

.about-info h1{
	margin-right: 61px;
    margin-bottom: 82px;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 3px;
    z-index: 1;
}
.contact-btn{
	position: relative;
	color: #16171b;
	font-weight: 600;
	left: 11%;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
	letter-spacing: 2px
}

.github-btn{
	position: relative;
	color: #16171b;
	font-weight: 600;
	left: 13%;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
	letter-spacing: 2px
}

.github-btn:hover, .contact-btn:hover {
	color: white;
	border-bottom: 2px solid white;
}

/*=================================================
--------------------PROJECT SECTION----------------------
=================================================*/

/*-----------GRID---------------*/

img{
 	width:304px;
    height: 153px;
	transition: all 1s ease-out;
	border-radius: 12px;
}

img:hover{
	-webkit-transform: translate(0, -10px);
	        transform: translate(0, -10px)
}

.box {
	width: 339px;
    padding: 19px;
    height: 419px;
    margin: 32px;
    background-color: #ff9c7c8c;
    border-radius: 19px;
    transition: all .195s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 1px 2rem 4rem rgba(0, 0, 0, 0.15)
}

.box:hover {
	background-color: white;
   	-webkit-transform: scale(0.97);
   	        transform: scale(0.97);
    transition: background-color 500ms linear;
}

.projects-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-text h4{
	-ms-grid-row-align: start;
	    align-self: start;
    letter-spacing: 2px;
    font-size: 17px;
    margin-top: 7px;
}
.project-text a{
	text-decoration: none;
	color: #222020;
}

.project-text a:hover{
	color: #ff9c7c;
}

.project-text p{
	-ms-grid-row-align: start;
	    align-self: start;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 20px;
}

.project-text p span{
	font-weight: bold;
	font-size: 17px;
}

.github-link{
	color: #555;
    text-decoration: none;
}

.project-text .fa-github{
	font-size: 33px;
}

.project-text .fa-github:hover{
	color: #ff9c7c;
}


/*=================================================
--------------------SKILL SECTION----------------------
=================================================*/
.skills{
    padding: 100px;
    margin-top: 37px;
    background-color: #f9f8f8;

}

.skills ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
}

.skills li{
	display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 1rem;
    flex-basis: 6rem;
    background-color: #ff9c7c;
    border: 1px solid #ba6102d1;
    border-radius: 1.5rem;
    margin: 0.5rem;
}

/*=================================================
--------------------CONTACT-SECTION----------------------
=================================================*/

.contact {
	padding: 53px;
	margin-top: 40px;
	background-color: #ebe9e952;
	text-align: center;
	font-size: 25px;
}

.contact-list{
	position: relative;
	z-index: 1;
}

.contact-list .city{
	position: absolute;
	z-index: -1;
	opacity: 0.1;	
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 130%;
	background-image: url(https://storage.needpix.com/rsynced_images/city-1117433_1280.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: contain;
}

.contact-list{
	z-index: 6;
}

.contact-list h1{
	font-size: 2em;
    margin-bottom: 30px;
}

.contact-list h3{
	font-size: 1em;
	margin-bottom: 10px;
}

.contact-list h4{
	margin: 20px 0;
}

.contactIcon{
	font-size: 2em;
	margin-left:10px;
	color: #555;
}

.contactIcon:hover{
	color: #ff9c7c;
}


.contact i{
	font-size: 40px;
	color: #777;
}

.contact i:hover{
	font-size: 40px;
	color: #ff9c7c;
}

/*=================================================
--------------------fOOTER----------------------
=================================================*/

footer{
	display: flex;
    justify-content: center;
    background-color: #000;
    padding: 30px;
    color: white;
    font-size: 17px;
}

/*=================================================
--------------------Animations---------------------
=================================================*/

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5,
.js--wp-6 {
	opacity: 0;
}


.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated,
.js--wp-4 .animated,
.js--wp-5 .animated,
.js--wp-6 .animated  {
	opacity: 1;
}

/*Scroll up button*/

.scrollup {
    top: 70%;
    height: 49px;
    position: fixed;
    right: 64px;
    display: none;
}	

/*css animations for icons*/
.bounce{
	-webkit-animation: bounce 2s infinite;
	animation: bounce 3s infinite;
}

.pulse {
	box-shadow: 0 1 0 rgba(104,189,70, 0.7);
	-webkit-animation: pulse 1s infinite;
	        animation: pulse 1s infinite;
}

